{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Kodkollektivet</title>

    <meta property="og:title" content="➜ Kodkollektivet!" />
    <meta property="og:type" content="organization" />
    <meta property="og:url" content="http://kodkollektivet.se" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />

    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

  </head>

  <body>
    <header>
      <h1>KODK<>LLEKTIVET</h1>
      <a class="btn-open logo" href="{% url 'home' %}"><img src="{% static 'img/KK_logo.jpg' %}" /></a>
      {% include 'menu.html' %}
      <form action="{% url 'set_language' %}" method="post" id="changelang">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language" onchange="this.form.submit()">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ lang.1 }} ({{ lang.0 }})
          </option>
          {% endfor %}
        </select>
      </form>
    </header>

    <main>
      {% block content %}
      <article>
      	<section>
          <h2 align="center">{% trans "What is Kodkollektivet" %}? </h2>
          <p>
            {% blocktrans %}
            Kodkollektivet consists of a group of students with a great interest
            in programming, computer networking and tons of other IT and business
            related topics. We started in the summer of 2015 with tons of ideas
            that we since then have been trying out, refined and most importantly
            learned a great deal from in terms of cooperation, planning and
            focus.

            With all of this Kodkollektivet is now taking the shape of a student
            organization at Linnaeus University. Focus has shifted slightly from
            project development and code meetups to more of a social platform
            where students and local businesses can find, meet and get to know
            each other through events and activities such as theme-nights,
            hackathons, workshops, study visits, guest lectures and more.

            As a result of this students at Linnaeus University are provided with
            a place to find other students with a shared or similar interest,
            while at the same time giving companies in the Vaxjo area the
            opportunity to get a head start with potential employees.
            {% endblocktrans %}
          </p>
        </section>
       
      	<section>
          <h2 align="center">{% trans "Student, do you have what it takes" %}?</h2>
          <p>
            {% blocktrans %}
            Absolutely! No previous experience or particular skills are required
            to take part of Kodkollektivet. We welcome anyone who wants to learn,
            share, improve their resume or just want to make more friends with
            similar interests!
 
            Kodkollektivet puts no requirements on you as a student, but is rather
            a provider of opportunities. You are free to decide for yourself how
            much you would like to participate and how much time you want to put
            into the activities and events we host.
            {% endblocktrans %}
          </p>
        </section>

      	<section>
          <h2 align="center">{% trans "Employers, come and meet the future" %}!</h2>
          <p>
            {% blocktrans %}
            The university students of today are the very people who will be
            urging new thoughts and ideas in tomorrows businesses. Through
            Kodkollektivet is the possibility to meet these students in a social,
            comfortable environment without prestige. Kodkollektivet is always
            open to any type of suggestions from you as a company, in regards of
            ideas for events and activities.
            {% endblocktrans %}
          </p>
      	</section>  
      </article>

      <aside>
        <section>
          {% if upcomming_events %}
          <hr>
          <h3>{% trans "Upcoming event" %}:</h3>
          <ul>
            {% for event in upcomming_events %}
            <li><a href="{% url "kodkollektivet:eventdetailview" event.slug %}">{{ event.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </section>
      </aside>

      {% endblock %}
    </main>

    <footer>
      <div class="contact">
        <div>
          <h3>{% trans "Get in contact" %}</h3>
          <p>
            Email: info@kodkollektivet.se
          </p>
          <p>
            {% trans "We are using Slack" %},
            <a href="https://kodkollektivet.slack.com">
              https://kodkollektivet.slack.com
            </a>
          </p>
          <p>
            {% blocktrans %}
            As for now you need to send a mail to info@kodkollektivet.se and get an invite!
            Talk to you on Slack!
            {% endblocktrans %}
          </p>
        </div>
      </div>
      <div class="logo-footer">
        <a class="btn-open logo" href="{% url 'home' %}"><img src="{% static 'img/KK_logo.jpg' %}" /></a>
      </div>

      <div class="goto">
        <h3>Go to</h3>
        <div>
          <div class="links">
            <ul class="pages">
              <h4>Pages</h4>
              <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
              <li><a href="{% url "kodkollektivet:eventslistview" %}">{% trans "Events" %}</a></li>
              <li><a href="{% url "kodkollektivet:boardtemplateview" %}">{% trans "Board" %}</a></li>
              <li><a href="{% url "kodkollektivet:projectslistview" %}">{% trans "Projects" %}</a></li>
            </ul>
            <ul class="sites">
              <h4>Sites</h4>
              <li><a href="https://github.com/Kodkollektivet" target="_blank">GitHub</a></li>
              <li><a href="https://www.facebook.com/kodkollektivet/" target="_blank">Facebook</a></li>
              <li><a href="https://github.com/Kodkollektivet/documents/blob/master/stadgar/stadgar.md" target="_blank">{% trans "Statutes" %}</a></li>
            </ul>   
          </div>

          <div class="links">
            <ul class="events">
              <h4>Events</h4>
              <li><a href="">Event1</a></li>
              <li><a href="">Event2</a></li>
              <li><a href="">Event3</a></li>
            </ul>   
            <ul class="projects">   
              <h4>Projects</h4>
              <li><a href="#project1" target="_blank">Project1</a></li>
              <li><a href="#2" target="_blank">Project2</a></li>
              <li><a href="#3" target="_blank">Project3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
