{% load staticfiles %}
{% include 'menu.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Kodkollektivet</title>

    <meta property="og:title" content="➜ Kodkollektivet!" />
    <meta property="og:type" content="organization" />
    <meta property="og:url" content="http://kodkollektivet.se" />
    <meta property="og:image" content="{% static 'img/logo.png' %}" />

    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">  
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css">

  </head>
  <body>
    
    <header>
      <div align="center">
        {% if header_text %}
        <h1>{{ header_text }}</h1>
        {% else %}
        <h1>Kodkollektivet</h1>
        <!-- <a class="btn-open" href="#"><img src="{% static 'img/logo.png' %}" /></a> -->
        {% endif %}
      </div>
    </header>

    <main>
      {% block content %}
      <article>
        <h2 align="center">{% trans "Vad är Kodkollektivet" %}? </h2>
        <p>
          {% blocktrans %}Kodkollektivet består av en grupp studenter med ett brinnande intresse, främst inom programmering, nätverk och andra IT-relaterade ämnen. Vi startade under sommaren 2015 med ett hav av idéer som vi sedan dess har provat på, finslipat men framför allt lärt oss en hel del av gällande både samarbete, planering och fokus. Med detta i bagaget startar Kodkollektivet nu som studentförening och skiftar fokus en aning från projektarbeten och kodträffar till en mer social platform inriktad på studenter (med ingen till full kompetens inom sitt område) likaväl som företag med intresse av att komma i tidig kontakt med framtida arbetstagare. Detta gör vi med hjälp av en mötesplats där studenter får komma i kontakt med båda varandra och näringsliv genom diverse aktiviteter såsom tema-kvällar, hackathons, workshops, studiebesök och kortare gästföreläsningar från företag i regionen.{% endblocktrans %}            
        </p>

        <h2 align="center">{% trans "Student, har du vad som krävs" %}?</h2>
        <p>
          {% blocktrans %}Absolut! För att ta del av Kodkollektivet krävs inga som helst tidigare erfarenheter eller särskilda talanger. Vi välkomnar alla som vill lära sig mer, förbättra sitt CV, eller bara träffa nya vänner med liknande intressen! Kodkollektivet ställer inga krav på dig som student, utan ger dig bara möjligheten. Du bestämmer själv hur mycket du vill delta och hur mycket tid du vill lägga ner på de aktiviteter och träffar vi erbjuder.{% endblocktrans %}
        </p>

        <h2 align="center">{% trans "Företagare, kom och träffa framtiden" %}!</h2>
        <p>
          {% blocktrans %}Dagens studenter är dem som kommer att driva fram nya ideer och tanker i dagens företag. Genom Kodkollektivet finns möjligheten att på ett prestigelöst och socialt sätt träffa studenter. Kodkollektivet ser gärna att ni kommer med ideer på events, föreläsningar eller studiebesök! Vill ni vara med och sponsra Kodkollektivet och få din logo på hemsidan?{% endblocktrans %}
        </p>
      </article>

      <aside>
        <section>
          {% if upcomming_events %}
          <hr>
          <h3>{% trans "Upcoming event" %}:</h3>
          <ul>
            {% for event in upcomming_events %}
            <li><a href="{% url "kodkollektivet:eventdetailview" event.slug %}">{{ event.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </section>
      </aside>
      {% endblock %}
    </main>

  </body>
</html>
