{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}


<div class="board">
  {% for member in object_list %}
  <section>
    <div align="center">
      <h2>{{ member.position|title }}</h2>
      <img src={{ member.photo.url }} />
      <p>{{ member.first_name }} {{ member.last_name }}</p>
      {% if member.email %}<p>Email: <img src="/media/board-images/{{ member.last_name}}.email.png"/></p>{% endif %}
      {% if member.telephone %}<p>Tel:{{ member.telephone }}</p>{% endif %}
    </div>
  </section>
  {% endfor %}
</div>

{% endblock content %}
