{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<hr>

<section>
  <div align="center">
  <h1>Ordförande</h1>
  John Herrlin</br>
  jherrlin at gmail.com</br>
  <img src="{% static 'img/board/john_resized.jpg' %}" alt="image of John Herrlin" />  
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Vice Ordförande</h1>
  Rasmus Sjöström</br>
  ras.sjostrom at gmail.com</br>
  <img src="{% static 'img/board/rasmus_resized.jpg' %}" alt="image of Rasmus Sjöström" />
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Ekonomiansvarig</h1>
  Vahida Ahmic</br>
  vahida.ahmic at hotmail.se</br>
  <img src="{% static 'img/board/vahida_resized.jpg' %}" alt="image of Vahida" />
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Externa relationer</h1>
  Johan Rovala </br>
  jr.johan.ro at gmail.com</br>
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Revisor</h1>
  Abdirauf Ahmed</br>
  abdirauf_12 at hotmail.com</br>
  <img src="{% static 'img/board/abdi_resized.jpg' %}" alt="image of Abdi" />
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Styrelseledamot</h1>
  Malte Dammann</br>
  malte005 at yahoo.de</br>  
  <img src="{% static 'img/board/malte_resized.jpg' %}" alt="image of Malte" />
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Styrelseledamot</h1>    
  Alexander Spottka </br>
  alex.sp at posteo.de</br>
  <img src="{% static 'img/board/alex_resized.jpg' %}" alt="image of Alex" />  
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Styrelseledamot</h1>    
  Otto Bergman</br>
  otto_bergman at live.se</br>  
  <img src="{% static 'img/board/otto_resized.jpg' %}" alt="image of Otto" />
  <div>
</section>

<hr>

<section>
  <div align="center">
  <h1>Styrelseledamot</h1>    
  Peter Danielsson</br>
  <img src="{% static 'img/board/peter_resized.jpg' %}" alt="image of Peter" />
  <div>
</section>

<hr>

Bilderna är tagna av Petter Hammarbäck, IEC


{% endblock content %}
