{% load i18n %}
<div align="center">
  <nav>
    <ul>
      <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>      
      <li><a href="{% url "kodkollektivet:eventslistview" %}">{% trans "Events" %}</a></li>
      <li><a href="{% url "kodkollektivet:boardtemplateview" %}">{% trans "Board" %}</a></li>      
      <li><a href="{% url "kodkollektivet:projectslistview" %}">{% trans "Projects" %}</a></li>
      <li><a href="https://github.com/Kodkollektivet" target="_blank">GitHub</a></li>
      <li><a href="https://www.facebook.com/kodkollektivet/" target="_blank">Facebook</a></li>      
      <li><a href="https://github.com/Kodkollektivet/documents/blob/master/stadgar/stadgar.md" target="_blank">{% trans "Statutes" %}</a></li>
    </ul>
  </nav>
</div>

