{% extends 'base.html' %}

{% block content %}
<div align="center">
  <p>{{ object.created | date:"d-m-Y" }}</p>
</div>
<div class="small-12 medium-8 medium-offset-1 columns" style="color: #93a1a1;">
  <img src="{{ object.gh_avatar }}"> <br>
  
  {{ object.name }}<br>

  {% if object.email %}
  {{ object.email }}<br>
  {% endif %}


  {% if object.gh_url %}
  {{ object.gh_url }}<br>
  {% endif %}

  {% if object.website %}
  {{ object.website }}<br>
  {% endif %}

  {% if object.linkedin %}
  {{ object.linkedin }}<br>
  {% endif %}
</div>

<div class="small-12 medium-3 columns" align="center">

  <div>
    {% if object.gh_url %}
    <h5>GitHub:</h5>
    <div>
      {% if object.gh_url %}
      <a href="{{ object.gh_url }}" target="_blank">{{ object.gh_url }}</a>
      {% endif %}
    </div>
    {% endif %}

  </div>


  <div class="small-12 medium-12 columns" align="center">
    {% if projects %}
    {% for p in projects %}
    <h3><a href="{% url "kodkollektivet:projectdetailview" p.slug %}">{{ p.name }}</a></h3>
    {% endfor %}
    {% else %}
    No projects
    {% endif %}
  </div>

</div>
{% endblock %}  
