server {
    listen 80      default_server;
    listen [::]:80 default_server;
    server_name    www.{{ domain_name }} {{ domain_name }};
    return 301     https://$server_name$request_uri;
}

server {
    listen 443 ssl;

    server_name www.{{ domain_name }} {{ domain_name }};

    client_max_body_size 20M;

    include snippets/kodkollektivetse-certs.conf;
    include snippets/kodkollektivetse-ssl-params.conf;
    include snippets/well-known.conf;

    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://unix:{{ projectpaths.tmp }}/kodkollektivetse.sock;
    }

    location /static/ {
        root {{ projectpaths.public }};
        autoindex off;
    }

    location /media/ {
        root {{ projectpaths.public }};
        autoindex off;
    }
}
