[Unit]
Description=Backup kodkollektivetse

[Service]
Type=oneshot
Nice=19
User={{ deploy.username }}
IOSchedulingClass=3
ExecStart=/bin/bash /var/lib/deploy-kodkollektivet/backup-kodkollektivetse.sh
