[Unit]
Description={{ projectname }} celery daemon
After=network.target

[Service]
User={{ deploy.username }}
Group={{ deploy.group }}
Restart=on-failure
RestartSec=5
WorkingDirectory={{ projectpaths.current }}
ExecStart={{ projectpaths.current }}/venv/bin/celery  -A settings worker -l info -B

[Install]
WantedBy=multi-user.target
