{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}

<div class="events">
  <div class="new-events">
    <div class="next-event">
      {% if next_event %}
      <h2>Next Event</h2>
      <p class="event-datetime">
        {{ next_event.date }}, {{ next_event.time }}
      </p>
      <h4>{{ next_event.title }}</h4>
      <p>{{ next_event.body|truncatechars:300 }}</p>
      <a href="{% url "kodkollektivet:eventdetailview" next_event.slug %}" class="next-event-link">read more</a>
      {% endif %}
    </div>
    
    <div class="upcoming-events">
      {% if upcoming_events %}
      <h3>Upcoming Events</h3>
      <ul>
        {% for event in upcoming_events %}
        <li>
          <h4>{{ event.title }}</h4>
          <p>{{ event.body|truncatechars:300 }}</p>
          <span class="event-datetime">
            {{ event.date }}, {{ event.time }}
          </span>
          <a href="{% url "kodkollektivet:eventdetailview" event.slug %}">read more</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  
  <div class="old-events">
    {% if old_events %}
      <h3>Old Events</h3>
      <div>
        {% for event in old_events %}
        <article>
          <h4>{{ event.title|truncatechars:20 }}</h4>
          <p>{{ event.date|date }}</p>
          <a href="{% url "kodkollektivet:eventdetailview" event.slug %}">read more</a>
        </article>
        {% endfor %}
      </div>
    {% else %}
      <p>No events</p>
    {% endif %}
  </div>
</div>

{% endblock %}
