{% extends 'core/core.html' %}

{% block body %}
    <div align="center">
        <p>{{ object.created | date:"d-m-Y" }}</p>
    </div>
    <div class="small-12 medium-8 medium-offset-1 columns" style="color: #93a1a1;">
        {{ object.text | safe }}
    </div>

    <div class="small-12 columns" align="center">

        {% if object.gh_url %}
            <h5>GitHub:</h5>
            <div>
                {% if object.gh_url %}
                    <a href="{{ object.gh_url }}" target="_blank">{{ project.name }}</a>
                {% endif %}
            </div>
        {% endif %}

        <hr>

        <h5>Contributors:</h5>
        {% for c in contributors %}
        <h3><a href="{% url "projects:contributordetailview" c.slug %}">{{ c.name }}</a></h3>
        {% endfor %}

        <hr>

        <h5>Languages:</h5>

        {% if languages %}
            {% for l in languages %}
                {{ l.name }}<br>
            {% endfor %}
        {% endif %}


        <hr>



        {% if frameworks %}
            <h5>Frameworks:</h5>

            {% for f in frameworks %}
                {{ f.name }}<br>
            {% endfor %}
        {% endif %}



    </div>





{% endblock %}