<div class="menu-button">
    <a class="btn-open" href="#"></a>
</div>

<div class="menu">

    <div class="menu-internal-link" align="center">
        <div class="row">
            <a href="http://idg.se">home</a>
        </div>

        <div class="row">
            <a href="http://idg.se">blog</a>
        </div>

        <div class="row">
            <a href="{% url "projects:projectslistview"%}">projects</a>
        </div>

        <div class="row">
            <a href="http://kodkollektivet.se/" target="_blank">kodkollektivet</a>
        </div>
    </div>

</div>